.gameSpace {
    background: #222222;
}

.player {
    border-radius: 50%;
    position: absolute;
    z-index: 100;
}


.enemy {
    background: red;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
}