.gameSpace {
    background: #222222;
    cursor:none;
}

.player, .enemy {
    border-radius: 50%;
    color: white;
    position: absolute;
    z-index: 100;
}
.player {
    background: green;
}

.player p, .enemy p{
    font-size: 0px;
    transition: 0.5s ease all;

}

.enemy {
    text-shadow: 0px 0px 10px red;
    /*opacity: 0.5;*/
    transition: 0.05s linear all;
    width: 10px;
    height: 10px;
}

.enemy:hover {
    opacity: 1;
}

.player:hover p, .enemy:hover p {
    /*font-size: 20px;*/
}



.player:before  {
    content: "<:>";
    color: red;
    height: 10px;
    width: 1px;
    position: absolute;
    top: -150px;
}


.enemy:before {
    content: "<>";
    color: gray;
    height: 10px;
    width: 1px;
    position: absolute;
    top: -150px;
}
